
.gd-panel {
	display: block;
	height: 30rem;
	background-image: radial-gradient(circle at center, #589f2888, #28af9688), url('../img/bg/arbol.jpeg');
	background-repeat: no-repeat;
	background-position: baseline;
	background-size: cover;
}
