@import url('css/navbar.css');
@import url('css/main.css');
@import url('css/aside.css');
@import url('css/footer.css');

header {
	color: white;
}

nav {
	width: 100%;
	padding: 1rem;
	background-color: lightgreen;
	font-size: 1rem;
	font-weight: 600;
}

html{
	overflow-x: hidden;
}

body{
	overflow-x: hidden;
}

main{
	padding: 2rem;
	width: 60%;
}

footer{
	background-color: #451012;
}
